In [64]:
import pandas as pd
import json

In [65]:
json_file = pd.read_json("D:\Extras\DataEngineeringQ2.json")

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\sugam\AppData\Local\Temp\ipykernel_23704\1212815109.py:1: SyntaxWarning: invalid escape sequence '\E'
  json_file = pd.read_json("D:\Extras\DataEngineeringQ2.json")

Share percentage of missing values, for the columns firstName, lastName and DOB from patientDetails.

In [66]:
json_file.head()

,_id,appointmentId,patientDetails,phoneNumber,consultationData
0,T6hf3rb5,40d2-9c9f,"{'_id': 'T6hb630b3', 'firstName': 'Css', 'last...",96686896670,"{'adviceTemplates': [], 'advices': [], 'attach..."
1,T65g3rb5,40dbtc9f,"{'_id': 'T6h33b300', 'firstName': 'Lokesh', 'l...",9496368916,"{'adviceTemplates': [], 'advices': [], 'attach..."
2,T7g6Srb5,g3Wt5c9f,"{'_id': 'TjhB4373', 'phrId': '63b5hvy614d5', '...",7787204833,"{'adviceTemplates': [], 'advices': [], 'attach..."
3,94bg8W8d,fb6-a535,"{'_id': '6df4R5b', 'phrId': '644nig7y', 'first...",9376756879,"{'adviceTemplates': [], 'advices': [], 'attach..."
4,T6h8H56c,67h7KL9,"{'_id': 'lK9hy06a', 'firstName': 'Raghu Viju',...",5267384241,"{'adviceTemplates': [], 'advices': [], 'attach..."

In [67]:
with open("D:\Extras\DataEngineeringQ2.json", "r") as file:
    data = json.load(file)

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\sugam\AppData\Local\Temp\ipykernel_23704\57785164.py:1: SyntaxWarning: invalid escape sequence '\E'
  with open("D:\Extras\DataEngineeringQ2.json", 'r') as file:

In [68]:
patient_details_list = []
for record in data:
    patient_detail = record.get("patientDetails", {})
    patient_details_list.append(patient_detail)

In [69]:
# Convert to DataFrame
df = pd.DataFrame(patient_details_list)
df.head()

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
0,T6hb630b3,Css,,,,,None,NaN,NaN,NaN
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
2,TjhB4373,Shila,Das,,NaN,NaN,NaN,63b5hvy614d5,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
4,lK9hy06a,Raghu Viju,,,NaN,,NaN,NaN,NaN,NaN

In [70]:
df.isnull().sum(axis=0)

_id                  0
firstName            0
lastName             0
emailId              1
gender               9
alternateContact    22
birthDate           10
phrId               23
chat                15
customId            15
dtype: int64

In [71]:
is_null_gender = df["gender"].isnull()
most_gender = df["gender"].mode()[0]

In [75]:
df["gender"] = df["gender"].fillna(most_gender)

In [79]:
is_space = df["gender"] == ""
df["gender"][is_space] = "M"

In [80]:
df["gender"].unique()

array(['M', 'F'], dtype=object)

In [81]:
is_female = df["gender"] == "F"
sum(is_female)

10

In [82]:
len(df["gender"])

31

In [84]:
round((10 / 31) * 100, 2)

32.26

Adding age from birthday

In [85]:
from datetime import datetime, date

In [86]:
df.head()

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
0,T6hb630b3,Css,,,M,,None,NaN,NaN,NaN
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
2,TjhB4373,Shila,Das,,M,NaN,NaN,63b5hvy614d5,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
4,lK9hy06a,Raghu Viju,,,M,,NaN,NaN,NaN,NaN

In [95]:
temp_df = df.copy()

In [96]:
temp_df.head()

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
0,T6hb630b3,Css,,,M,,None,NaN,NaN,NaN
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
2,TjhB4373,Shila,Das,,M,NaN,NaN,63b5hvy614d5,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
4,lK9hy06a,Raghu Viju,,,M,,NaN,NaN,NaN,NaN

In [100]:
birthdate = temp_df["birthDate"].dropna()
birthdate = pd.to_datetime(birthdate)
birthdate

1    1996-05-16 18:30:00+00:00
3    1988-04-24 14:30:00+00:00
5    1983-05-16 18:30:00+00:00
6    2003-06-27 14:30:00+00:00
8    1983-05-16 18:30:00+00:00
9    1998-05-16 18:30:00+00:00
10   1988-04-08 00:00:00+00:00
11   1971-05-16 18:30:00+00:00
12   1970-05-16 18:30:00+00:00
13   1997-07-31 00:00:00+00:00
15   1997-05-16 18:30:00+00:00
16   1972-05-16 18:30:00+00:00
17   2001-05-16 18:30:00+00:00
20   2001-08-27 00:00:00+00:00
21   1998-11-19 23:30:00+00:00
22   1996-05-16 18:30:00+00:00
24   1992-05-16 18:30:00+00:00
27   1999-05-16 18:30:00+00:00
28   1972-05-16 18:30:00+00:00
29   1980-03-22 18:30:00+00:00
30   1991-11-19 23:30:00+00:00
Name: birthDate, dtype: datetime64[ns, UTC]

In [103]:
today = date.today()

In [107]:
birthdate.map(
    lambda x: today.year - x.year - ((today.month, today.day) < (x.month, x.day))
)

1     28
3     36
5     41
6     21
8     41
9     26
10    36
11    53
12    54
13    26
15    27
16    52
17    23
20    22
21    25
22    28
24    32
27    25
28    52
29    44
30    32
Name: birthDate, dtype: int64

In [109]:
df["birthDate"] = pd.to_datetime(df["birthDate"])

In [110]:
df["age"] = df["birthDate"].map(
    lambda x: today.year - x.year - ((today.month, today.day) < (x.month, x.day))
)

In [112]:
def foo(x):
    if x >= 0 and x <= 12:
        return "Child"
    elif x >= 13 and x <= 19:
        return "Adult"
    elif x >= 20 and x <= 59:
        return "Senior"

In [113]:
df["ageGroup"] = df["age"].map(foo)

In [114]:
df["ageGroup"].value_counts()

ageGroup
Senior    21
Name: count, dtype: int64

In [117]:
(df["age"] < 19).sum()

0

For Medicines

In [146]:
consultation_data = []
for record in data:
    consult = record.get("consultationData", {})
    consultation_data.append(consult)

In [147]:
med_data_details = []
for record in consultation_data:
    med = record.get("medicines", {})
    med_data_details.append(med)

In [149]:
med_data_details

[[{'medicineId': '619404',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619804',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '619404',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619804',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '30',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '619404',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '10',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619404',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '60',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '619404',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619704',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619384',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-1-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '628424',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '643404',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '615604',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '617704',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '685404',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '632304',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '617624',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619404',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619504',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [],
 [{'medicineId': '619504',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '619504',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '611304',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [],
 [{'medicineId': '619504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [],
 [{'medicineId': '619504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '619504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '619504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '619504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [],
 [{'medicineId': '619504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '611504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '619504',
   'medicineName': 'G',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '619304',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '612504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [],
 [{'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'E',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False}],
 [{'medicineId': '612504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [],
 [{'medicineId': '612504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'C',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}],
 [{'medicineId': '612504',
   'medicineName': 'A',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True},
  {'medicineId': '612504',
   'medicineName': 'D',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': False},
  {'medicineId': '612504',
   'medicineName': 'B',
   'medicineNameStrengthType': '',
   'frequency': '1-0-1',
   'duration': '90',
   'durationIn': 'DAYS',
   'instruction': 'AFTER MEAL',
   'isActive': True}]]

In [150]:
flattened_list = [item for sublist in med_data_details for item in sublist]

In [152]:
med_df = pd.DataFrame(flattened_list)
med_df.head()

,medicineId,medicineName,medicineNameStrengthType,frequency,duration,durationIn,instruction,isActive
0,619404,A,,1-0-1,90,DAYS,AFTER MEAL,True
1,619804,B,,1-0-1,90,DAYS,AFTER MEAL,False
2,619404,A,,1-0-1,90,DAYS,AFTER MEAL,True
3,619804,C,,1-0-1,30,DAYS,AFTER MEAL,False
4,619404,B,,1-0-1,10,DAYS,AFTER MEAL,True

In [153]:
med_df["medicineName"].value_counts()

medicineName
A    17
D    17
C    13
B    12
E     6
G     1
Name: count, dtype: int64

In [157]:
round((med_df["isActive"].value_counts() / len(med_df)) * 100, 2)

isActive
True     69.7
False    30.3
Name: count, dtype: float64

In [161]:
round(len(med_df) / len(df), 2)

2.13

In [ ]:
Add a column isValidMobile of boolean which contains the values true or false against each value from phoneNumber column If a phone number is a valid Indian phone number.  

CREATE YOUR OWN LOGIC, DON’T USE ANY EXTERNAL PYTHON LIBRARY FOR VALIDATION 
  
true : indicates number is valid  
false : indicates number is not valid  

Problem Statement: Design a logic to check whether a phone number is valid or not.

Valid Phone number

In [172]:
def is_valid_check(x):
    if not isinstance(x, str):
        return False
    if len(x) != 10:
        return False
    if not phone_number.isdigit():
        return False
    if phone_number[0] not in "6789":
        return False
    if phone_number[0:3] != "+91" or phone_number[0:2] != "91":
        return False
    return True

In [173]:
df["isValidMobile"] = df["alternateContact"].map(is_valid_check)

In [175]:
df["isValidMobile"].sum()

0

In [177]:
df["alternateContact"].value_counts()

alternateContact
                 8
+917797689682    1
Name: count, dtype: int64